Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
**/Release/**
/Content/AdvancedVillagePack/Textures
/Content/Static/TestingGroundPack/RockPackProV1
/Content/Static/TestingGroundPack/IndustryPropsPack4
/Content/Static/TestingGroundPack
/Content/StarterContent/Textures
